﻿@{
    ViewBag.Title = "Business View Settings";
}
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Business View Settings</legend>
        <div>
            <br />
            <a onclick="resetScreenLayout('AnalyticsForUser');" href="Index" style='color: #034af3;
                text-decoration: underline;'>Reset Analytics screen layout to default</a><br />
            @*<a onclick="resetManagerAnalyticsScreen();">Reset Analytics (Manager) screen layout
                to default</a>*@
            <br />
            <br />
            <h3>
                Select theme to use:</h3>
            @{
    List<SelectListItem> themes = new List<SelectListItem>();
    themes.Add(new SelectListItem() { Text = "Black", Value = "Black" });
    themes.Add(new SelectListItem() { Text = "Default", Value = "Default" });
    themes.Add(new SelectListItem() { Text = "Forest", Value = "Forest" });
    themes.Add(new SelectListItem() { Text = "Hay", Value = "Hay" });
    themes.Add(new SelectListItem() { Text = "Metro", Value = "Metro" });
    themes.Add(new SelectListItem() { Text = "Office2007", Value = "Office2007" });
    themes.Add(new SelectListItem() { Text = "Office2010Blue", Value = "Office2010Blue" });
    themes.Add(new SelectListItem() { Text = "Office2010Silver", Value = "Office2010Silver" });
    themes.Add(new SelectListItem() { Text = "Outlook", Value = "Outlook" });
    themes.Add(new SelectListItem() { Text = "Simple", Value = "Simple" });
    themes.Add(new SelectListItem() { Text = "Sitefinity", Value = "Sitefinity" });
    themes.Add(new SelectListItem() { Text = "Sunset", Value = "Sunset" });
    themes.Add(new SelectListItem() { Text = "Telerik", Value = "Telerik" });
    themes.Add(new SelectListItem() { Text = "Transparent", Value = "Transparent" });
    themes.Add(new SelectListItem() { Text = "Vista", Value = "Vista" });
    themes.Add(new SelectListItem() { Text = "Web20", Value = "Web20" });
    themes.Add(new SelectListItem() { Text = "WebBlue", Value = "WebBlue" });
    themes.Add(new SelectListItem() { Text = "Windows7", Value = "Windows7" });
    
            }
            @Html.DropDownList("theme", themes)
            <br />
        </div>
        <br />
        <p>
            <a onclick="saveTheme();" style='color: #034af3; text-decoration: underline;' href="Index">
                Save Theme</a><br />
        </p>
    </fieldset>
}
<script type="text/javascript">
    function resetScreenLayout(screenName) {
        date = new Date();
        date.setDate(date.getDate() - 1);
        document.cookie = escape(screenName) + '=;  expires=' + date.toUTCString() + '; path=/';
        document.cookie = escape(screenName) + '=;  expires=' + date.toUTCString();
        //document.cookie = escape(screenName) + '=;expires=' + date;
    }

    function saveTheme() {
        date = new Date();
        date.setTime(date.getTime() + (1000 * 24 * 60 * 60 * 1000));
        document.cookie = escape('SelectedEGISTheme') + '=' + escape($('#theme option:selected').val()) + ';  expires=' + date.toUTCString() + '; path=/';
        document.cookie = escape('SelectedEGISTheme') + '=' + escape($('#theme option:selected').val()) + ';  expires=' + date.toUTCString();
    }

</script>
