﻿@using EGIS.Models
@model LocationManagement
@{
    ViewBag.Title = "Location Management";
}
<fieldset>
    <legend>Locations</legend>
    <br />
    @*      The Razor view engine supports only two levels of nesting.
        In order to support deeper nesting, we need to extract the
            Orders Detail View as a helper.*@
    @helper CategoryRelatedDataViewTemplate(WebViewPage page, LocationCategory o)
        {
            @(Html.Telerik().Grid(o.RelatedData).Name("RelatedData_" + o.Id)
                .Columns(columns =>
                {
                    columns.Bound(od => od.Key).Title("Related Data Item");
                    columns.Bound(od => od.Value).Title("Related Data Answer");
                }).Resizable(resize => resize.Columns(true)))
        }
    @(Html.Telerik().Grid(Model.Locations)
    .Name("Locations")
    .DataKeys(keys => keys.Add(c => c.Id))
    .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.Image))
    .DataBinding(dataBinding => dataBinding.Server()
                                .Select("LocationManagement", "Home")
                                .Update("EditLocation", "Home")
                                .Delete("DeleteLocation", "Home")
                                .Insert("InsertLocation", "Home")
                                )
    .Columns(columns =>
    {
        columns.Bound(o => o.BuildingName);
        columns.Bound(o => o.Street1);
        columns.Bound(o => o.Street2);
        columns.Bound(o => o.Suburb);
        columns.Bound(o => o.Postcode);
        columns.Command(commands =>
        {
            commands.Edit().ButtonType(GridButtonType.Image);
            commands.Delete().ButtonType(GridButtonType.Image);
        }).Title("Actions");
    }).DetailView(detailview => detailview.Template(
    @<text>
    @(Html.Telerik().Grid(item.LocationCategories)
    .Name("LocationCategories_" + item.Id)
    .DataKeys(k => k.Add(a => a.CategoryName))
    .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.Image))
    .DataBinding(dataBinding => dataBinding.Server()
                                .Insert("AddCategory", "Home")
                                .Delete("DeleteCategory", "Home")
                                .Update("EditCategory", "Home")
                                )
    .Columns(columns =>
    {
        columns.Bound(o => o.CategoryName).Title("Category");
        columns.Command(commands =>
        {
            commands.Edit().ButtonType(GridButtonType.Image);
            commands.Delete().ButtonType(GridButtonType.Image);
        }).Title("Actions");
    })
    .DetailView(dv => dv.Template(o => CategoryRelatedDataViewTemplate(this, o)))
    .RowAction(row =>
    {
        //if (row.Index == 0)
        //{
            row.DetailRow.Expanded = false;
        //}
        //else
        //{
        //    var requestKeys = Request.QueryString.Keys.Cast<string>();
        //    var expanded = requestKeys.Any(key => key.StartsWith("RelatedData_" + row.DataItem.CategoryName));
        //    row.DetailRow.Expanded = expanded;
        //}
    })
    .Resizable(resizing => resizing.Columns(true)).Reorderable(reorder => reorder.Columns(true))
    )
    </text>))
    .DataBinding(dataBinding => dataBinding.Server())
    .Resizable(resize => resize.Columns(true)).Reorderable(reorder => reorder.Columns(true)).ColumnContextMenu())
</fieldset>
