﻿@using EGIS.Models
@model UserManagement
@{
    ViewBag.Title = "User Management";
}
<fieldset>
    <legend>User Management</legend>
    <br />
    @(Html.Telerik().Grid(Model.ADUsers)
    .Name("ADUsers")
    //.DataKeys(keys => keys.Add(c => c.SID))
    //.DataBinding(dataBinding => dataBinding.Ajax()
    //                            .OperationMode(GridOperationMode.Client).Select("_GetAllUsers", "Home")
    //                            .Update("EditUserRoles", "Home")
    //                            .Delete("DeleteUser", "Home")
    //                            )
    .Columns(columns =>
    {
        columns.Template(@<text>@if (!item.IsUser)
                                {
                                    @Html.ActionLink("Add", "AddUser", new { sid = item.SID })
                                }
                                else
                                {
                                    @Html.ActionLink("Remove", "RemoveUser", new { sid = item.SID })
@*                                    <span></span>  
                                    @Html.ActionLink("Edit Roles", "EditUserRoles", new { sid = item.SID })*@
                                }
    </text>).Title("Actions").Width(30);

        columns.Bound(o => o.GivenName);
        columns.Bound(o => o.Surname);
        columns.Bound(o => o.EmailAddress);
        columns.Bound(o => o.VoiceTelephoneNumber);
        //columns.Command(commands =>
        //{
        //    commands.Edit().ButtonType(GridButtonType.Image);
        //    commands.Delete().ButtonType(GridButtonType.Image);
        //}).Title("Commands");
    }).DetailView(detailview => detailview.Template(
    @<text>    
    @(Html.Telerik().Grid(item.Roles)
    .Name("Roles_" + item.SID)
    .DataKeys(keys => keys.Add(c => c.RoleName))
             .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.Image))
             .DataBinding(dataBinding => dataBinding.Ajax()
                                        .OperationMode(GridOperationMode.Client).Select("_GetUserRolesToAdd", "Home")
                                        .Insert("_AddUserRole", "Home")
                                        .Delete("_DeleteRole", "Home")
                                )    
    .Columns(columns =>
    {
        columns.Bound(o => o.RoleName).Title("Role");
        columns.Command(commands =>
        {
            commands.Delete().ButtonType(GridButtonType.Image);
        }).Title("Actions");        
    })
    .Resizable(resizing => resizing.Columns(true))
    .Reorderable(reorder => reorder.Columns(true))
    .Editable(editing => editing.Mode(GridEditMode.InLine))
    )
    </text>))        
    .DataBinding(dataBinding => dataBinding.Server()).Sortable()
    .Pageable(paging => paging.PageSize(20))
    .Filterable().Resizable(resize => resize.Columns(true)).Reorderable(reorder => reorder.Columns(true)).ColumnContextMenu())

</fieldset>
