﻿@model EGIS.Models.vCaseSummary

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>vCaseSummary</legend>

    <div class="display-label">CaseCategory</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CaseCategory)
    </div>

    <div class="display-label">TotalCases</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalCases)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
