﻿@model EGIS.Models.vCaseSummary

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>vCaseSummary</legend>

    <div class="display-label">CaseCategory</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CaseCategory)
    </div>

    <div class="display-label">TotalCases</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalCases)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
