﻿@model EGIS.Models.vCaseSummary

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>vCaseSummary</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CaseCategory)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CaseCategory)
            @Html.ValidationMessageFor(model => model.CaseCategory)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TotalCases)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TotalCases)
            @Html.ValidationMessageFor(model => model.TotalCases)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
