﻿@model IEnumerable<EGIS.Models.vCaseSummary>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <caption>
        <span class="titleTextValue"></span>
        <span class="yAxisTextValue"></span>
        <span class="xAxisTextValue"></span>
    </caption>
    <thead>
        <tr>
            <th>
                CaseCategory
            </th>
            <th>
                TotalCases
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.CaseCategory)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCases)
        </td>
    </tr>
    }
    </tbody>

</table>
