/* Reset */
body,img,p,h1,h2,h3,h4,h5,h6,ul,ol {margin:0; padding:0; list-style:none; border:none;}
/* End Reset */

body {font-size:0.8em; font-family:Arial,Verdana,Sans-Serif; background: #5c87b2;}
a {color:white;}

/* Colors */
.color-yellow {background:#f2bc00;}
.color-red    {background:#dd0000;}
.color-blue   {background:#148ea4;}
.color-white  {background:#f5f5f5;}
.color-orange {background:#f66e00;}
.color-green  {background:#8dc100;}
.color-yellow h3,
.color-white h3,
.color-green h3
	{color:#777;}
.color-red h3,
.color-blue h3,
.color-orange h3
	{color:#FFF;}
/* End Colors */

/* Head section */
#head {
    background: #000 url(themes/img/head-bg.png) repeat-x;
    height: 100px;
}
#head h1 {
    line-height: 100px;
    color: #FFF;
    text-align: center;
    background: url(themes/img/inettuts.png) no-repeat center;
    text-indent: -9999em
}
/* End Head Section */

/* Columns section */
#columns .column {
    float: left;
    width: 50%;
		/* Min-height: */
		/*min-height: 300px; */
		height: auto !important; 
		height: 400px;
}

/* Column dividers (background-images) : */
#columns #column1 { background: url(themes/img/column-bg.gif) no-repeat right top; }
	#columns #column3 { /*background: url(themes/img/column-bg.gif) no-repeat left top;*/ }
	
#columns #column1 .widget { margin: 5px 5px 0 5px; }
#columns #column2 .widget { margin: 5px 5px 0 5px; }
#columns .widget {
    margin: 5px 5px 0 5px;
    padding: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border:1px solid #dcdcdc;
}
#columns .widget .widget-head {
    color: #000;
    overflow: hidden;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
#columns .widget .widget-head h3 {
    padding: 0 5px;
    float: left;
}
#columns .widget .widget-content {
    /*background: #333 url(themes/img/widget-content-bg.png) repeat-x;*/
		background-color:#FFF;
    padding: 0;
    color: #222;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    line-height: 1.2em;
    /*overflow: hidden;*/
		border:1px solid #dcdcdc;
}
#columns .widget .widget-content p {
    padding: 0.8em 0;
    /*border-bottom: 1px solid #666;*/
}
#columns .widget .widget-content img {
    float: right;
    margin: 10px;
    border: 1px solid #FFF;
}
#columns .widget .widget-content pre {
    padding: 0.5em 5px;
    color: #EEE;
    font-size: 12px;
}
#columns .widget .widget-content ul {
    padding: 5px 0 5px 20px;
    list-style: disc;
}
#columns .widget .widget-content ul li {padding: 3px 0;}
#columns .widget .widget-content ul.images {
    padding: 7px 0 0 0;
    list-style: none;
    height: 1%;
}
#columns .widget .widget-content ul.images li {
    display: inline;
    float: left;
}
#columns .widget .widget-content ul.images img {
    display: inline;
    float: left;
    margin: 0 0 7px 7px;
}
/* End Columns section */
.widget-head a.edit { background:url(themes/img/buttons.gif) no-repeat 0 0 !important; }
.widget-head a.remove { background:url(themes/img/buttons.gif) no-repeat -24px 0 !important; }
a.collapse { background: url(themes/img/buttons.gif) no-repeat -52px 0 !important; }

#footer { padding-left:10px; }
#company-name { text-align:left; font-size:.86em; }

#header { margin-bottom:10px; border: 1px solid #FFF; position:relative;  height:92px; background-color:#FFF; border-radius:0 0 4px 4px;  }
#title { position:absolute; left:3px; top:0px; }
#menucontainer { position:absolute; right:-0px; top:61px; margin-top:0px; }
ul#menu { width:1050px; border-bottom:none; }
ul#menu li { /*width:100px;*/ padding-bottom:5px; float:left; padding-left:5px; }
ul#menu li a { border-radius:4px; }
#main { border-radius:4px 4px 0 0; }
ul#menu li a { border:1px solid #DCDCDC; background-color:#F5F5F5; color:#777; }
#logindisplay { color:#777; margin-right:15px; font-weight:bold; }

.t-grouping-header { display:none; }

.list-view .t-grid-header, .list-view .t-grid-bottom { display:none; }

.remove { position:absolute; left:-9999px; }
