﻿@using EGIS.Models
@model Analytics
@{
    ViewBag.Title = "Analytics for User";
    Layout = "~/Views/Shared/_Layout.cshtml";    
    
}
<div id="columns" class="AnalyticsForUser">
    <ul id="column1" class="column">
        @Html.Partial("InformationElements")
        @Html.Partial("OutstandingActions")
        @Html.Partial("DataProvisionActivities")
    </ul>
    <ul id="column2" class="column">
        @Html.Partial("OpenCasesGraph")
        @Html.Partial("IssuesActionsGraph")
    </ul>
</div>

