@using Egis.Helpers
@using System.Security.Principal
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @(Html.Telerik().StyleSheetRegistrar()
            .DefaultGroup(group => group.DefaultPath("~/Content/2012.1.419/").UseTelerikContentDeliveryNetwork(false)
    .Add("telerik.common.min.css")
    .Combined(true)
    .Compress(true)))
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/inettuts.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/inettuts.js.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <a href="/EGIS">
                    <h1>
                        EGIS</h1>
                </a>
            </div>
            <div id="logindisplay">
                @*Welcome <strong>@User.Identity.Name (Sid: @Html.GetUserSID(@User.Identity.Name))</strong></div>*@
                Welcome <strong>@Html.GetUserFullName(@User.Identity.Name)</strong></div>
            <div id="menucontainer">
                @{ Html.Telerik().TabStrip().Name("menu")
                       /* ViewData["EGISSiteMap"] contains the sitemap */
               .BindTo("EGISSiteMap", (item, node) =>
               {
                   if (string.IsNullOrEmpty(node.ActionName) && node.ChildNodes.Count > 0)
                   {
                       if (!string.IsNullOrEmpty(node.ChildNodes[0].ControllerName))
                           item.ControllerName = node.ChildNodes[0].ControllerName;
                       if (!string.IsNullOrEmpty(node.ChildNodes[0].ActionName))
                           item.ActionName = node.ChildNodes[0].ActionName;
                   }
               })
                       .Render();
                }
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
            <div id="company-name">
                &copy;State of Queensland (Commission for Children and Young People and Child Guardian)
                2012</div>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/jQuery.js")" type="text/javascript"></script>
    <script src="@Url.Content("http://jqueryjs.googlecode.com/files/jquery-1.2.6.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-personalized-1.6rc2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/cookie.jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/inettuts.js")" type="text/javascript"></script>
    @(Html.Telerik().ScriptRegistrar()
    .DefaultGroup(group => group.Combined(true).DefaultPath("~/Scripts/2012.1.419/").UseTelerikContentDeliveryNetwork(false)
    .Add("telerik.all.min.js")
    .Compress(true)))
    <script type="text/javascript">
        $(document).ready(function () {
            dynamicCSSAdd("/EGIS/Content/2012.1.419/telerik." + GetThemeName() + ".min.css");
//            if (GetThemeName() == 'Vista') {
//                dynamicCSSAdd("/EGIS/Content/site." + GetThemeName() + ".css");
//            }
//            else {
//                dynamicCSSAdd("/EGIS/Content/site.css");
//            }
        })

        function dynamicCSSAdd(url) {
            if (document.createStyleSheet) {
                document.createStyleSheet(url);
            }
            else {
                css = $("<link />");
                css.attr({
                    rel: "stylesheet",
                    type: "text/css",
                    href: url
                });
                css.appendTo("head");
            }
        }

        function GetThemeName() {
            name = escape('SelectedEGISTheme');
            var cookieValue = null;
            //alert(document.cookie);
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
            if (cookieValue) {
                return cookieValue;
            }
            else {
                return 'Vista';
            }
        }
    </script>
</body>
</html>
