﻿@using EGIS.Models
@model Analytics
<li class="widget color-white" id="DataProvisionActivities">
    <div class="widget-head">
        <h3>
            Data Provision Activities</h3>
    </div>
    <div class="widget-content">
        @{
            @(Html.Telerik().Grid(Model.InformationElementsForReview)
    .Name("DataProvisionActivities")
    .DataBinding(databinding => databinding.Ajax().Select("_InformationElements", "AnalyticsForUser"))      
    .Columns(columns =>
    {
        columns.Bound(o => o.Requesting_Organisation).Title("Requesting Organisation");
        columns.Bound(o => o.Topic);
        columns.Bound(o => o.AreedDeliveryDate).Format("{0:dd/MM/yyyy}").Title("Agreed Delivery Date");
    })
    .Groupable()
    .Sortable()
    .Pageable()
    .Filterable()
    .Resizable(resize => resize.Columns(true))
    .Reorderable(reorder => reorder.Columns(true))
    .ColumnContextMenu()
    )
        }
    </div>
</li>
