﻿@using EGIS.Models
@model Analytics
<li class="widget color-white" id="InformationElement">
    <div class="widget-head">
        <h3>
            Information Elements for Review</h3>
    </div>
    <div class="widget-content">
        @{
            @(Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.Add("telerik.common.min.js")
    .Add("telerik.grid.min.js")
    .Add("telerik.grid.filtering.js"))
    )
            @(Html.Telerik().Grid(Model.InformationElementsForReview)
    .Name("InformationElements")
    .DataBinding(databinding => databinding.Ajax().Select("_InformationElements", "AnalyticsForUser"))
    .Columns(columns =>
    {
        columns.Bound(o => o.Title);
        columns.Bound(o => o.DateDocumentReceived).Format("{0:dd/MM/yyyy}");
    })
            .DataBinding(dataBinding => dataBinding.Server())
            .Sortable()
            .Pageable()
            .Filterable()
            .Resizable(resize => resize.Columns(true))
            .Reorderable(reorder => reorder.Columns(true))
            .ColumnContextMenu()
            )
        }
    </div>
</li>
