﻿@using EGIS.Models
@model Analytics
<li class="widget color-white"  id="IssuesActionsGraph">
    <div class="widget-head">
        <h3>
            Issues/Actions</h3>
    </div>
    <div class="widget-content">
        @{
            @(@Html.Telerik().Chart(Model.IssuesActions)
                .Name("IssuesActions")
                .Title(title => title.Text("Issues/Actions"))
                .Series(series =>
                {
                    series.Bar(s => s.TotalIssues).Name("Total Issues/Actions");
                })
                .CategoryAxis(axis => axis.Categories(s => s.IssueType))
                .Legend(false)
                )
        }
    </div>
</li>
