﻿@using EGIS.Models
@model Analytics
<li class="widget color-white"  id="OpenCasesGraph">
    <div class="widget-head">
        <h3>
            Open Cases</h3>
    </div>
    <div class="widget-content">
        @{
            @(@Html.Telerik().Chart(Model.OpenCases)
                .Name("OpenCases")
                .Title(title => title.Text("Open Cases"))
                .Series(series =>
                {
                    series.Bar(s => s.TotalCases);
                })
                .CategoryAxis(axis => axis.Categories(s => s.CaseCategory))
                .Legend(false)
                )
        }
    </div>
</li>
