﻿@using EGIS.Models
@model Analytics
<li class="widget color-white" id="OutstandingActions">
    <div class="widget-head">
        <h3>
            Outstanding Actions</h3>
    </div>
    <div class="widget-content">
        @{
            @(Html.Telerik().Grid(Model.InformationElementsForReview)
    .Name("OutstandingActions")
    .DataBinding(databinding => databinding.Ajax().Select("_InformationElements", "AnalyticsForUser"))    
    .Columns(columns =>
    {
        columns.Bound(o => o.Action).IncludeInContextMenu(true);
        columns.Bound(o => o.ReferralRecipient).IncludeInContextMenu(true);
        columns.Bound(o => o.DateCreated).Format("{0:dd/MM/yyyy}").IncludeInContextMenu(true);
    })
    .Groupable()
    .Sortable()
    .Pageable()
    .Filterable()
    .Resizable(resize => resize.Columns(true))
    .Reorderable(reorder => reorder.Columns(true))
    .ColumnContextMenu()
    )
        }
    </div>
</li>
